/*CSS relatif a la page principale*/
body {
    font-size: 100%;
    background-color: rgb(238, 238, 238);
    color: rgb(131, 131, 131);
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
}

#imgBack {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 13%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

header {
    color: rgb(185, 162, 56);
    width: 80%;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgb(192, 128, 128);
    box-shadow: 0px 2px 4px rgb(21, 119, 136);
    position: fixed;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 10000;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(30px);
}


nav {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
}

#logo {
    width: 50px;
    margin-left: 50px;
}

#centerPages {
    color: rgb(117, 53, 23);
    padding: 10px;
    /* text-shadow: -10px -10px 30px rgb(255, 255, 255),2px 2px 3px rgb(255, 143, 143); */
}

#sousNav {
    display: block;
}

.item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 80px;
    text-decoration: none;
    color: rgb(255, 139, 7);
    color: rgb(21, 119, 136);
    font-size: 100%;
    font-weight: 100;
    cursor: alias;
}

a {
    text-decoration: none;
}

#menu {
    display: none;
}

#menuButton,
#noMenuButton {
    display: none;
}

main {
    padding-top: 65px;
}

#gestion-horizontale {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.introMyself {
    font-size: 200%;
    font-weight: bold;
    padding: 50px;
    color: rgb(105, 90, 72);
}

.MyName {
    color: rgb(105, 90, 72);
    font-weight: 100;
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;; */
    font-size: 100%;
}

.specialite {
    font-family: system-ui;
    font-weight: 300;
    margin-top: 10px;
    font-size: x-large;
    color: rgb(128, 128, 128);
}


#button-contact {
    background-color: rgba(188, 192, 192, 0.411);
    color: rgb(21, 119, 136);
    font-size: 20px;
    width: 200px;
    padding: 25px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    max-width: border width 100px ;
    border: rgb(21, 119, 136) solid 20px;
}

#button-contact::before{
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    height: 150px;
    width: 150px;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    box-shadow: 0 0 100px rgba(188, 192, 192, .5);
    transition: all .5s linear infinite;
    animation: QAEE 2s  linear infinite ;
}
@keyframes QAEE {
    0%{
        transform: translate(-50%,-50%) rotate(-45deg) scale(1);
    };
    20%{
        transform: translate(-50%,-50%) rotate(-45deg) scale(1.5);
    };

    40%{
        transform: translate(-50%,-50%) rotate(-45deg) scale(2);
    };

    70%{
        transform: translate(-50%,-50%) rotate(-45deg) scale(1.5);
    };
    100%{
        transform: translate(-50%,-50%) rotate(-45deg) scale(1);
    };
}

#profil {
    width: 300px;
    margin-top: 70px;
    border-top-left-radius: 250px;
    border-top-right-radius: 330px;
    border-bottom-left-radius: 330px;
    border-bottom-right-radius: 250px;
}

.description {
    color: rgb(112, 112, 112);
    padding: 10px;
    font-family: system-ui;
    font-family: monospace;
    font-size: x-large;
    width: 300px;
    font-weight: 200;
}

#skills-img {
    text-align: center;
}

#logoS {
    width: 50px;
    height: 50px;
    padding: 40px 0 10px 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


#project {
    text-align: center;
}

#project-img {
    width: 350px;
    height: 190px;
    border: solid rgb(194, 86, 14);
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#service {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    text-align: center;
}

#service1,
#service2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
    font-size: 140%;
    padding: 20px;
    box-shadow: -10px -10px 10px rgba(253, 253, 253, 0.705), 10px 10px 10px rgba(148, 148, 148, 0.164)  ;
    /* background-color: rgb(235, 235, 235); */
    background-color: none;
    color: rgb(83, 83, 83);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;   
    margin-top: 30px;
    max-width: 800px;
    transform: rotate(-10deg) scale(.9);
}

#img-service {
    width: 500px;
    border-radius: 10px;
}

.descriptService{
    transform: rotate(-deg)
}

#about,
#skills,
#works,
#contact {
    font-size: x-large;
    padding: 50px;
}

#skills {
    font-size: 150%;
    padding: 50px;
}

#works {
    font-size: 150%;
    padding: 50px;
}

#contact {
    font-size: 150%;
    padding: 50px;
}

h2 {
    color:rgb(21, 119, 136);
}

/*Seul l'element footer reste sans modification*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    color: rgb(63, 92, 117);
    /* background-color: rgb(99, 92, 78); */
}

#more-info {
    font-size: 150%;
    text-align: start;
    margin-left: 30px;
    color: rgb(92, 60, 18);
}

#logoh {
    width: 50px;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    min-width: 288px;
}

#responsive>img {
    max-width: 690px;
    min-width: 277px;
    padding: 10px;
}


/****************************** Styles pour les écrans de petite taille (mobiles) *********************/
@media only screen and (max-width: 900px) {

    #colorBack {
        width: 70%;
    }

    #imgBack {
        margin-left: 5%;
    }

    header {
        width: 95%;
        justify-content: space-around;
    }

    #logo {
        margin-left: 0;
    }


    #centerPages {
        /* color: rgb(255, 81, 0); */
        font-size: x-large;
    }

    #sousNav {
        display: none;
    }

    #menuButton {
        display: block;
        font-size: 100%;
        padding: 5px;
        color: rgb(100, 98, 87);
        border-radius: 20px;
    }

    #noMenuButton {
        font-size: 100%;
        padding: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #menu {
        display: none;
        position: fixed;
        top: 100px;
        padding: 30px;
        width: 90%;
        height: 100vh;
        line-height: 50px;
        background-color: rgb(223, 223, 223);
        border-radius: 30px;
        box-shadow: 0px 20px 30px rgb(14, 171, 192);
        transition: left 0.3s ease-in-out;
        z-index: 10000;
    }

    #menu.open {
        display: inline;
        transition: 2s;
        right: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular',
            'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .item {
        margin-right: 20px;
        font-size: large;
        padding: 20px;
    }

    main {
        padding-top: 80px;
    }

    #gestion-horizontale {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .introMyself {
        margin-top: -50px;
        z-index: 1000;
        order: 2;
    }

    .description {
        margin-top: 0px;
        order: 3;
        width: 270px;
    }

    .profil {
        margin-top: 20px;
        order: 1;
    }

    #button-contact {
        font-size: 30%;
        margin-bottom: 10px;
        margin-top: 0px;
        font-size: 20px;
        margin-left: 20px;
    }

    #profil {
        margin-top: 33px;
        border-top: 100px;
        border-top-left-radius: 200px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 240px;
        border-bottom-right-radius: 170px;
    }

    #logoh {
        width: 30px;
        height: 30px;
    }

    #about,
    #skills,
    #works,
    #contact {
        padding: 10px;
    }

    iframe {
        width: 300px;
    }

    #logoS {
        width: 50px;
        height: 50px;
        padding: 40px 0 10px 5px;
    }


    #project {
        display: flexbox;
    }

    #project-img {
        width: 90%;
        height: 190px;
        border: solid rgb(194, 86, 14);
        margin: 10px;

    }

    #service {
        display: flex;
        flex-wrap: wrap;
    }

    #service1,
    #service2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: start;
        text-align: center;
        width: 310px;
    }

    #img-service {
        width: 300px;
    }


}

/* Styles de base pour les barres de menu */
.menu-bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-bar:nth-child(2) {
    width: 20px;
}

.menu-bar:nth-child(3) {
    width: 15px;
}

/* Styles pour le menu complet (contenant les trois barres) */
.menu {
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}

/* Styles pour les barres de menu en état "ouvert" */
.menu-bar:hover .menu-bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.menu-bar:hover .menu-bar:nth-child(2) {
    opacity: 0;
}

.menu-bar:hover .menu-bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.boule {
    position: fixed;
    z-index:  9999;
    width: 30px;
    height: 30px;
    background-color:rgb(25, 129, 148);;
    border-radius: 50%;
    top: 50%;
    transform: translateY(100%); /* Démarre la boule hors de l'écran à droite */
    transition: transform 0.5s ease; /* Ajoute une transition fluide pour le déplacement */
  }
